
@{
    ViewBag.Title = "AccountantList";
}

<h2>AccountantList</h2>


<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Email_ID</th>
        <th>Date of birth</th>
        <th>Username</th>
    </tr>
    @foreach (var b in Model)
    {
        <tr>
            <td>@b.ID</td>
            <td>@b.Name</td>
            <td>@b.Address</td>
            <td>@b.Email_ID</td>
            <td>@b.Date_of_Birth</td>
            <td>@b.Username</td>
            <td><a class="btn btn-info" href="/Admin/AccountantEdit/@b.ID">Edit</a></td>
            <td><a class="btn btn-info" href="/Admin/AccDelete/@b.ID">Delete</a></td>

        </tr>
    }
</table>
<td><a class="btn btn-info" href="/Admin/AdminHome">Back</a></td>

