
@{
    ViewBag.Title = "TouristEdit";
}

<h2>TouristEdit</h2>


<form action="" method="Post">
    <table border="0" width="50%">
        <tr height=50>
            <td width="200px"> ID</td>
            <td width="300px">
                <input type="text" name="Id" value="@Model.Id">
            </td>
        </tr>
        <tr height=50>
            <td> Name </td>
            <td><input type="text" name="Name" value="@Model.Name"></td>
        </tr>
        <tr height=50>
            <td>Password</td>
            <td><input type="password" name="Password" value="@Model.Password"></td>
        </tr>
        <tr height=50>
            <td>Address</td>
            <td><input type="text" name="Address" value="@Model.Address"></td>
        </tr>
        <tr height=50>
            <td>Phone</td>
            <td><input type="text" name="Phone" value="@Model.Phone"></td>
        </tr>
        <tr height=50>
            <td>Email</td>
            <td><input type="text" name="Email" value="@Model.Email"></td>
            <td><input type="submit" name="submit" value="Submit"></td>
            <td><input type="reset" name="reset" value="Reset"></td>
        </tr>
    </table>
</form>