
@{
    ViewBag.Title = "TransportList";
}

<h2>TransportList</h2>

<table class="table table-bordered">
    <tr>
        <th> Id</th>
        <th> Name</th>
        <th>Password</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Type</th>
        <th>Address</th>
    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td>@d.Id</td>
            <td>@d.Name</td>
            <td>@d.Password</td>
            <td>@d.Email</td>
            <td>@d.Phone</td>
            <td>@d.Type</td>
            <td>@d.Address</td>


            <td><a class="btn btn-info" href="/Admin/TransportEdit/@d.Id">Edit</a></td>
            <td><a class="btn btn-info" href="/Admin/TransportDelete/@d.Id">Delete</a></td>
        </tr>
    }
</table>
<td><a class="btn btn-info" href="/Admin/AdminHome">Back</a></td>


