
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Admin Info</h2>

<form action="/AdminList/Edit" method="post">
    <input type="text" name="Id" value="@Model.Id" class="form-control" placeholder="Id">
    <input type="text" name="Name" value="@Model.Name" class="form-control" placeholder="Name">
    <input type="Password" name="Password" value="@Model.Password" class="form-control" placeholder="Password">
    <input type="text" name="Address" value="@Model.Address" class="form-control" placeholder="Address">
    <input type="text" name="Phone" value="@Model.Phone" class="form-control" placeholder="Phone">
    <input type="email" name="Email" value="@Model.Email" class="form-control" placeholder="Email">
    <input type="text" name="OtherInfo" value="@Model.OtherInfo" class="form-control" placeholder="OtherInfo">
    <input type="submit" value="Edit"/>



</form>
